.sidebar::-webkit-scrollbar {
  width: 5px;
}

.horizontalBar::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track,
.horizontalBar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px white;
  border-radius: 5px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb,
.horizontalBar::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover,
.horizontalBar::-webkit-scrollbar-thumb:hover {
  background: rgba(246, 175, 51, 1);
}
